{
  "$schema": "https://www.krakend.io/schema/v3.json",
  "version": 3,
  "name": "{{ env "SERVICE_NAME" }}",
  "port": {{ .service.port }},
  "timeout": "{{ .service.timeout }}",
  "cache_ttl":  "{{ .service.cache_ttl }}",
  "output_encoding": "{{ .service.output_encoding }}",
  "plugin": {
    "pattern": ".so",
    "folder": "/usr/lib/krakend/plugins"
  },
  {{ template "endpoints.tmpl" .}},
  "extra_config": {
    {{ include "telemetry.tmpl" }},
    {{ include "cors.tmpl" }},
    "router": {
      "@comment": "dont show healthcheck endpoint in the logs",
      "logger_skip_paths": [
          "/__health"
      ]
    }
  }
}