{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/tenant/{tenantID}/load_balancers",
  "method": "GET",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "/api/v1/loadbalancers",
      "extra_config": {
        {{ include "tenant_id_header.tmpl" }}
      }
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/load_balancers/{loadBalancerID}",
  "method": "GET",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "/api/v1/loadbalancers/{loadBalancerID}"
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/tenant/{tenantID}/load_balancers",
  "method": "POST",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "/api/v1/loadbalancers",
      "extra_config": {
        {{ include "tenant_id_header.tmpl" }}
      }
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/load_balancers/{loadBalancerID}/ports",
  "method": "POST",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "TODO"
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/load_balancers/{loadBalancerID}/ports/{portNumber}",
  "method": "PUT",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "TODO"
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/load_balancers/{loadBalancerID}/ports/{portNumber}",
  "method": "PATCH",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "TODO"
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/load_balancers/{loadBalancerID}/ports/{portNumber}",
  "method": "DELETE",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "TODO"
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/tenant/{tenantID}/load_balancers/pools",
  "method": "POST",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "TODO",
      "extra_config": {
        {{ include "tenant_id_header.tmpl" }}
      }
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/load_balancers/pools/{loadBalancerPoolID}",
  "method": "GET",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "TODO"
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/load_balancers/pools/{loadBalancerPoolID}",
  "method": "PATCH",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "TODO"
    }
  ]
},
{
  "$schema": "https://www.krakend.io/schema/endpoint.json",
  "endpoint": "/v1/load_balancers/pools/{loadBalancerPoolID}",
  "method": "PUT",
  "input_headers": [
    "Infratographer-Auth"
  ],
  "backend": [
    {
      "host": ["https://{{ .service.backend_hosts.load_balancer_api }}"],
      "url_pattern": "TODO"
    }
  ]
}
